body {
  background: url(../img/blank-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
}

/* header */
header nav {
  position: relative;
  border-radius: 10px;
  margin-top: 15px;
  padding: 0 15px;
  background-color: rgba(154, 154, 154, 56%);
  justify-content: space-between !important;
  /* box-shadow: 0 0 20px rgba(193, 123, 46, 35%); */
  box-shadow: inset 5px 5px 15px #525151, 3px 3px 10px #f371003a;
}

.tr-gray {
  background-color: #9a9a9a;
}
@font-face {
  font-family: playfair;
  src: url(../fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf);
}
@font-face {
  font-family: montserat;
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}
.playfair {
  font-family: playfair;
  font-size: 15px;
}
.montserat {
  font-family: montserat;
  color: #f37000;
  font-size: 5px;
  font-weight: bold;
}
.frame {
  position: relative;
  text-align: center;
  color: white;
  /* padding-left: 30px; */
  margin: 0 8px 0 15px;
}
.frame img {
  /* transform: rotate(180deg); */
  /* -webkit-filter: drop-shadow(0px 0px 5px black);
  filter: drop-shadow(0px 0px 5px black); */
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.185) !important;
}
.modal-content {
  background-image: url(../img/blank-bg.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 30px 0;
  box-shadow: 0 0 15px rgb(0, 0, 0);
}
.modal-body{
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.modal-body img{
  width: 60%;
  margin: 10px auto;
  -webkit-filter: drop-shadow(3px 3px 15px rgb(161, 161, 161));
  filter: drop-shadow(3px 3px 15px rgb(170, 169, 169));
}
.modal-body h1{
  color: black;
  font-size: 40px;
  font-family: playfair;
  font-weight: bold;
  margin-top: 5px;
}
.modal-body p{
  font-family: playfair;
  color: white;
  text-shadow: -5px -5px 5px black;
}
.frame .text {
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  top: 50%;
  left: 85%;
  width: 50%;
  line-height: 14px;
  text-align: left;
  font-size: smaller;
  transform: translate(-50%, -50%);
}
.frame .food-img {
  position: absolute;
  height: 100%;
  top: 0px;
  left: -3px;
  object-fit: contain;
  -webkit-filter: drop-shadow(5px 5px 10px #000000b6);
  filter: drop-shadow(5px 5px 10px #000000a9);
  /* transform: rotate(45deg); */
}
.frame .cost {
  position: absolute;
  top: 0;
  left: 52%;
  height: 100%;
}
.frame .cost p {
  position: absolute;
  top: 50%;
  left: 0px;
  font-size: 9px;
  font-weight: bold;
  transform: translate(-50%, -50%);
}
.frame .cost .top {
  position: absolute;
  height: 33%;
  top: 4px;
}
.frame .cost .bottom {
  position: absolute;
  height: 33%;
  bottom: 4px;
}

/* categories */
.categories {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 15px 0;
}
.cat_item {
  background-color: #a8a8a8;
  color: black;
  border-radius: 5px;
  text-align: center;
  font-size: small;
  padding: 2px 15px;
  box-shadow: inset 0 5px 15px #525151, 3px 3px 10px #f371003a;
  font-family: playfair;
}
.cat_item:active {
  background-color: #858383;
}
.cat_item p {
  margin: auto;
}
.bg-shadow {
  box-shadow: 0 0 10px rgb(73, 73, 73);
}
/* search */
#search{
  border-radius: 8px;
  border: none;
  box-shadow: 1px 1px 10px rgb(102, 101, 101), inset 1px 1px 10px rgb(134, 134, 134);
  width: 75%;
  background-color: transparent;
  color: black;
  padding: 2px 8px;
  font-size: small;
  line-height: normal;
}
#search:focus{
  box-shadow: 1px 1px 10px rgb(71, 71, 71);
  border: none;
  outline: none;
}
#search::placeholder{
  color: black;
  font-size: small;
}
.about p {
  font-size: small;
  font-family: playfair;
  text-shadow: 2px 2px 1px rgb(194, 191, 191);
  font-weight: bold;
  text-align: center;
}
.logo{
  position: absolute;
  box-shadow: 0 0 10px black;
  bottom: -25px;
  left: 50%;
  margin-left: -35px;
  width: 65px;
  z-index: 1000;
}
#slider-item {
  height: 200px;
  box-shadow: 0 0 15px rgba(214, 112, 44, 0.521);
}
.filterItem {
  display: none;
}
.show {
  display: block;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: var(--animate-duration);
  animation-duration: var(--animate-duration);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
