body {
  background: url(../img/menu-background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
}
div{
  transition: all 0.5s ease 0.1;
  box-sizing: border-box;
}
@font-face {
  font-family: playfair ;
  src: url(../fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf);
}
@font-face {
  font-family: montserat;
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}
.playfair{
  font-family: playfair;
  font-size: 8px;
  
}
.montserat{
  font-family: montserat;
  color: #f37000;
  font-size: 5px;
  font-weight: bold;
}
.frame {
  position: relative;
  text-align: center;
  color: white;
  padding-left: 30px;
  margin: 0 8px 0 10px;
}
.frame img{
    /* transform: rotate(180deg); */
}
.frame .text {
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  top: 50%;
  left: 85%;
  width: 50%;
  line-height: 10px;
  text-align: left;
  font-size: smaller;
  transform: translate(-50%, -50%);
}
.frame .food-img{
    position: absolute;
    height: 110%;
    z-index: 10;
    top: -5px;
    left: -2px;
    object-fit: contain;
    -webkit-filter: drop-shadow(5px 5px 10px #000000b6);
    filter: drop-shadow(5px 5px 10px #000000a9);
    transform: rotate(45deg);
}
.frame .cost{
    position: absolute;
    top: 0;
    left: 52%;
    height: 100%;
}
.frame .cost p{
    position: absolute;
    top: 50%;
    left: 0px;
    font-size: 9px;
    transform: translate(-50%, -50%);  

}
.frame .cost .top{
    position: absolute;
    height: 33%;
    top: 4px;
}
.frame .cost .bottom{
    position: absolute;
    height: 33%;
    bottom: 4px;
}

